[*.cs]

file_header_template = Copyright (c) Mechanical Squid Factory.\nLicensed under the Unlicense.

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

indent_style = space
indent_size = 2

# CA1027: Mark enums with FlagsAttribute
dotnet_diagnostic.CA1027.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none