name: Build and Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: windows-latest

    env:
      config: Release

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Checkout Submodules
      run:  git submodule update --init --recursive
    - name: Install .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101

    - name: Install Dependencies
      run: dotnet restore

    - name: Build
      run:  dotnet build --configuration $env:config --no-restore

    - name: Set PR Build Number
      id: PRNUMBER
      if: ${{ github.event_name == 'pull_request' }}
      uses: kkak10/pr-number-action@v1.3

    - name: Create variables if pull request
      if: ${{github.event_name == 'pull_request'}}
      run: |
            echo 'title=Test Run for PR #${{steps.PRNUMBER.outputs.pr}} (${{github.run_number}})' >> $env:GITHUB_ENV
            echo 'file_name=TestReport.${{steps.PRNUMBER.outputs.pr}}.${{github.run_number}}.md' >> $env:GITHUB_ENV

    - name: Create variables if not pull request
      if: ${{github.event_name != 'pull_request'}}
      run: |
            echo 'title=Test Run ${{github.run_number}}' >> $env:GITHUB_ENV
            echo 'file_name=TestReport.${{github.run_number}}.md' >> $env:GITHUB_ENV

    - name: Test
      run: dotnet test --no-restore --no-build --configuration $env:config --logger:"liquid.md;LogFileName=${{github.workspace}}/${{env.file_name}};Title=${{env.title}};"

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      if: ${{always()}}
      with:
        name: 'Test Run'
        path: ${{github.workspace}}/${{env.file_name}}

    - name: comment PR
      uses: machine-learning-apps/pr-comment@master
      if: ${{ github.event_name == 'pull_request' }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        path: ${{env.file_name}}